@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
   <img src="https://pbs.twimg.com/media/B5RczHmCUAAjNHU.png" class="w-100 img-fluid" />
</body>
</html>
