@{
    Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Thiếu nhi Giáo xứ Dĩ An</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/landing-page.min.css" rel="stylesheet">
    <link href="~/Content/simple-line-icons.css" />
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @*Vue*@
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="~/external/index"><i class="fas fa-church mr-1"></i>Thiếu nhi Giáo xứ Dĩ An</a>
            <button data-toggle="modal" data-target="#login_modal" class="btn btn-primary font-weight-bold">Đăng nhập GLV</button>
        </div>
    </nav>
    <section class="features-icons bg-info" style="padding-top:0px;padding-bottom:2%">
        @RenderBody()
    </section>    
        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 h-100 text-center text-lg-left my-auto">
                        <p class="text-muted small mb-4 mb-lg-0"></p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 h-100 text-center text-lg-right my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-3">
                                <p class="text-muted small mb-4 mb-lg-0">Nhà thờ Giáo xứ Dĩ An</p><lead class="text-muted small mb-4 mb-lg-0">368 Trần Hưng Đạo, Dĩ An, Bình Dương</lead>
                            </li>
                            <li class="list-inline-item mr-3">
                                <a href="https://www.facebook.com/Thi%E1%BA%BFu-Nhi-Gi%C3%A1o-X%E1%BB%A9-D%C4%A9-An-102533327790422">
                                    <i class="fab fa-facebook fa-2x fa-fw"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đăng nhập GLV</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Tài khoản</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Mật khẩu</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="***">
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="w-100 btn btn-primary">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</body>

</html>
