
@{
    ViewBag.Title = "AllClasses";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script>
    $(document).ready(function getClasses() {
        $.ajax({
            url: "/GradeAndClass/getAllGrades",
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    $("#grades").append(new Option(result[i].gradeName, result[i].ID));
                }
            }
        });
        $.ajax({
            url: "/GradeAndClass/getClassByGrade",
            data: { id: 1 },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    $("#classes").append(new Option(result[i].className, result[i].ID));
                }
            }
        });

    })
</script>

<div class="card-body">
    <div class="form-group">
        <label>Lớp</label>
        <div class="col-lg-12">
            <div class="card d-flex">
                <div class="card-body row d-flex justify-content-center">
                    <div class="col-lg-5 col-sm-1">
                        <select id="grades" onchange="getClasses()" class="form-control" name="child-grade"></select>
                    </div>
                    <div class="col-lg-5 col-sm-1">
                        <select id="classes" class="form-control" name="child-class"></select>
                    </div>
                    <div><button type="button" class="btn btn-info" :onclick="'/internal/listByClass?id_class='+result.id">Xem</button></div>
                 </div>
            </div>
        </div>
    </div>
</div>



