
@{
    ViewBag.Title = "AllClasses";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script>
    var url_string = window.location.href;
    var url = new URL(url_string);
    var id_class = url.searchParams.get("id_class") != null ? url.searchParams.get("id_class") : 1;
    var grade_id;
    $(document).ready(function () {
        $.LoadingOverlay("show");
        $.ajax({
            url: "/GradeAndClass/getAllGrades",
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    $("#grades").append(new Option(result[i].gradeName, result[i].ID));
                }
                getClasses($('#grades').val());
            }
        });
        
    });
    function getClasses(grade_id) {
        $.LoadingOverlay("show");
        if (grade_id == null) {
            grade_id = $('#grades').val();
        }
        $.ajax({
            url: "/GradeAndClass/getClassByGrade",
            data: { id: grade_id },
            success: function (result) {
                $("#classes").empty();
                for (var i = 0; i < result.length; i++) {
                    $("#classes").append(new Option(result[i].className, result[i].ID));
                }
                detailClass();
                $.LoadingOverlay("hide");
            }
        });
    }
    function navigate() {
        window.location.replace(url.origin +url.pathname + '?id_class=' + $('#classes').val());
    }
    function detailClass() {                
        $.ajax({
            url: '/gradeAndClass/getClassbyId',
            data: { id_class: id_class },
            success: function (result) {
                var glv_name = result.glv_name;
                var class_name = result.className;
                new Vue({
                    el: '#class_info',
                    data: {
                        glv_name: glv_name,
                        class_name: class_name
                    }
                });
                $.ajax({
                    url: "/Person/getPersonByClass",
                    data: { id_class: id_class },
                    success: function (result) {
                        console.log(result);
                        if (!$.trim(result)) {
                            $("#notfound").show();
                        }
                        $("#loading").hide();
                        $("#content").show();
                        new Vue({
                            el: "#vue_app"
                            ,
                            data: {
                                persons: result,
                                link: '/internal/detail?id='
                            }
                            , mounted: function () {
                                $('#table').DataTable();
                            }
                        });
                        $('#table_wrapper').addClass("w-100");
                        $.LoadingOverlay("hide");
                    }
                });
            }

        });
    }
</script>
<div class="card-body">
    <div class="form-group">
        <div class="col-lg-12">
            <div class="card d-flex">
                <div class="card-body row d-flex justify-content-center">
                    <div class="col-lg-5 col-sm-1">
                        <select id="grades" onchange="getClasses()" class="form-control" name="child-grade"></select>
                    </div>
                    <div class="col-lg-5 col-sm-1">
                        <select id="classes" class="form-control" name="child-class"></select>
                    </div>
                    <div><button type="button" class="btn btn-info" onclick="navigate()">Xem</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div id="vue_app" class="row bg-light rounded p-3">
    <div>
        <div id="class_info">
            <h4>{{class_name}}</h4>
            <h5>GLV: {{glv_name}}</h5>
        </div>
    </div>
    <table id="table" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên Thánh</th>
                <th scope="col">Họ & Tên</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Chi tiết</th>
            </tr>
        </thead>
        <tbody style="display:none" id="content">
            <tr v-for="p in persons" v-bind:key="p.id" v-bind:person="p">
                <th scope="row">{{p.id}}</th>
                <td>{{p.ch_name}}</td>
                <td>{{p.fname}} {{p.name}}</td>
                <td>{{p.birth}}</td>
                <td><button type="button" class="btn btn-info" onclick="'load_modal('+p.id+')'">Chi tiết</button></td>
            </tr>
        </tbody>
    </table>
</div>


