
@{
    ViewBag.Title = "allClasses";
    Layout = ViewBag.layout !=null ? ViewBag.layout : "~/Views/Shared/AdminLayout.cshtml";
}
<script>
    var table;
    $(document).ready(function () {
        $.LoadingOverlay("show");
        $.ajax({
            url: "/gradeAndClass/getAllClasses",
            success: function (result) {
                console.log(result);
                new Vue({
                    el: '#vue_app',
                    data: {
                        list: result
                    },
                    mounted: function () {
                        table = $('#table').DataTable();
                    }
                });
                $('#table_wrapper').addClass("w-100");
                $.LoadingOverlay("hide");
            }
        });
    });
    function searchInTable(value) {
        table.search(value).draw();
    }
</script>
<div id="vue_app" class="container">
    <div class="flex-row mb-2">
        <button class="btn text-white" style="background-color: #EEB0AC" onclick="searchInTable('Khai Tâm')">Khai Tâm</button>
        <button class="btn text-white" style="background-color: #9BF14F" onclick="searchInTable('Rước Lễ')">Rước Lễ</button>
        <button class="btn text-white" style="background-color: #7BA6EF" onclick="searchInTable('Thêm Sức')">Thêm Sức</button>
        <button class="btn text-white" style="background-color: #ECC100" onclick="searchInTable('Sống Đạo')">Sống Đạo</button>
    </div>
    <table id="table" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Tên</th>
                <th scope="col">GLV</th>
                <th scope="col">Sỉ số</th>
                <th scope="col">Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="cl in list">
                <th :style="'background-color:'+cl.color">{{cl.name}}</th>
                <td>{{cl.glv}}</td>
                <td>{{cl.total}}</td>
                <td><a :href="'/internal/listByClass?id_class='+cl.id" class="btn btn-sm btn-info">Chi tiết</a></td>
            </tr>
        </tbody>
    </table>
</div>

