
@{
    ViewBag.Title = "dashBoard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var glv4Dashboard;
    var tn4Dashboard;
    $(document).ready(function () {
        $.LoadingOverlay("show");
        $.ajax({
            url: "/dashboard/countGLV",
            success: function (result) {
                console.log(result);
                new Vue({
                    el: '#vue_app',
                    data: {
                        glv: result[0],                      
                    }
                });
                glv4Dashboard = result[0];
                $.ajax({
                    url: "/dashboard/countTN",
                    success: function (resultTN) {
                        console.log(resultTN);
                        new Vue({
                            el: '#tn_count',
                            data: {
                                tn: resultTN[0]
                            }
                        }); 
                        tn4Dashboard = resultTN[0];
                        google.charts.load('current', { 'packages': ['corechart'] });
                        google.charts.setOnLoadCallback(drawChart);
                        $.LoadingOverlay("hide");
                    }
                });
            }
        });      
    });

    function drawChart() {        
        var dataGLV = google.visualization.arrayToDataTable([
          ['Task', 'person'],
          ['Thêm sức', glv4Dashboard.TS],
          ['Other', glv4Dashboard.other],
          ['Sống đạo', glv4Dashboard.SD],
          ['Rước lễ', glv4Dashboard.RL],
          ['Khai tâm', glv4Dashboard.KT]
        ]);

        var option = {
            title: 'Giáo lý viên'
        };
        var dataTN = google.visualization.arrayToDataTable([
         ['Task', 'person'],
         ['Thêm sức', tn4Dashboard.TS],
         ['Other', tn4Dashboard.other],
         ['Sống đạo', tn4Dashboard.SD],
         ['Rước lễ', tn4Dashboard.RL],
         ['Khai tâm', tn4Dashboard.KT]
        ]);
        var option1 = {
            title: 'Thiếu nhi'
        }
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        var chart1 = new google.visualization.PieChart(document.getElementById('piechart1'));
        chart.draw(dataGLV, option);
        chart1.draw(dataTN, option1);
    }
</script>
<div>
    <h2>THỐNG KÊ</h2>
    <div class="card-body row d-flex justify-content-center">
         <div id="piechart" style="width: 600px; height: 400px;"></div>
        <div id="piechart1" style="width: 600px; height: 400px;"></div>
    </div>
    <div class="col-lg-12" id="vue_app">
        <div class="card d-flex">
            <div class="card-body row d-flex justify-content-center">
                <div class="col-lg-2 col-sm-6 mb-2">
                    <h3>GLV</h3>
                    <h6>{{glv.total}}</h6>
                </div>
                <div class="col-lg-2">
                    <h5>Khai tâm</h5>
                    <h6>{{glv.KT}}</h6>
                </div>
                <div class="col-lg-2">
                    <h5>Rước lễ</h5>
                    <h6>{{glv.RL}}</h6>
                </div>
                <div class="col-lg-2">
                    <h5>Thêm sức</h5>
                    <h6>{{glv.TS}}</h6>
                </div>
                <div class="col-lg-2">
                    <h5>Sống đạo</h5>
                    <h6>{{glv.SD}}</h6>
                </div>
                <div class="col-lg-2">
                    <h5>Chưa xếp lớp</h5>
                    <h6>{{glv.other}}</h6>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="col-lg-12" id="tn_count">
        <div class="card d-flex">
            <div class="card-body row d-flex justify-content-center">
                <div class="col-lg-2 col-sm-6 mb-2">
                    <h3>Thiếu nhi</h3>
                    <h6>{{tn.total}}</h6>
                </div>
                <div class="col-lg-2">
                    <h5>Khai tâm</h5>
                    <h6>{{tn.KT}}</h6>
                </div>
                <div class="col-lg-2">
                    <h5>Rước lễ</h5>
                    <h6>{{tn.RL}}</h6>
                </div>
                <div class="col-lg-2">
                    <h5>Thêm sức</h5>
                    <h6>{{tn.TS}}</h6>
                </div>
                <div class="col-lg-2">
                    <h5>Sống đạo</h5>
                    <h6>{{tn.SD}}</h6>
                </div>
                <div class="col-lg-2">
                    <h5>Chưa xếp lớp</h5>
                    <h6>{{tn.other}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>


