
@{
    ViewBag.Title = "dashBoard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $.LoadingOverlay("show");
        $.ajax({
            url: "/dashboard/allTN",
            success: function (result) {
                console.log(result);                
            }
        });
        $.LoadingOverlay("hide");
    });
</script>
<h2>THỐNG KÊ</h2>



