@{
    ViewBag.Title = "import";
    Layout = "~/Views/Shared/InternalLayout.cshtml";
}
<script>
    function displayFileName() {
        $('#file_name').html($('#file_input').val());
        console.log($('#file_input').val());
    }
    function processExcel() {        
        var formData = new FormData();
        var file = document.getElementById('file_input').files[0];
        if (file == null) {
            window.alert('Lỗi!');
        } else {
            $.LoadingOverlay('show');
            formData.append('file', file);
            $.ajax({
                url: '/admin/processExcel',
                method: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (response) {
                    $.LoadingOverlay('hide');
                    window.alert(response);
                    window.location.reload();
                }
            });
        }

    }

</script>
<form enctype="multipart/form-data">
    <h6>
        Chọn file Excel
    </h6>
    <div class="input-group">
        <div class="custom-file">
            <input id="file_input" required type="file" name="file" class="custom-file-input h-100" onchange="displayFileName()">
            <label id="file_name" class="custom-file-label" for="file_input">Chọn file</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-sm btn-outline-success" onclick="processExcel()" type="button">Xử lý</button>
        </div>
    </div>
</form>