@{
    ViewBag.Title = "detail";
    Layout = "~/Views/Shared/InternalLayout.cshtml";
}
<script>
    $.LoadingOverlay("show");
    var url_string = window.location.href;
    var url = new URL(url_string);
    var id = url.searchParams.get("id");
    $(document).ready(function () {
        $.ajax({
            url: "/person/getPersonDetail",
            data: { id: id },
            success: function (result) {
                $.ajax({
                    url: "/GradeAndClass/getAllGrades",
                    success: function (result2) {
                        for (var i = 0; i < result2.length; i++) {
                            if (result.grade == result2[i].gradeName) {
                                $("#grades").append('<option value="' + result2[i].ID + '" selected>' + result2[i].gradeName + '</option>');
                            } else {
                                $("#grades").append(new Option(result2[i].gradeName, result2[i].ID));
                            }
                        }
                        getClasses();
                    }
                });
                $.get('/internal/editable?personClassId=' + result.id_class, function (edt) {
                    new Vue({
                        el: '#vue-app',
                        data: {
                            detail: result,
                            editable: edt,
                            glvlink: '/external/detail?id=' + result.glv_id
                        },
                        mounted: function () {                            
                            $('.my-content').addClass("d-flex");
                            $('.my-content').addClass("justify-content-center");
                            $('.my-content').addClass("row");
                            $('.my-content').show();
                            $.LoadingOverlay("hide");
                        }
                    });
                });
                new Vue({
                    el: '#edit-modal',
                    data: {
                        detail: result,
                        glvlink: '/external/detail?id=' + result.glv_id
                    },
                    mounted: function () {

                    }
                });
                new Vue({
                    el: '#edit-class-modal',
                    data: {
                        detail: result,
                        glvlink: '/external/detail?id=' + result.glv_id
                    },
                    mounted: function () {

                    }
                });

            }
        });
    });
    function getClasses() {
        var grade_id = $('#grades').val();
        $('#classes').html('');
        $.ajax({
            url: "/GradeAndClass/getClassByGrade",
            data: { id: grade_id },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    $("#classes").append(new Option(result[i].className, result[i].ID));
                }
            }
        });
    }
    function editPerson() {
        $.LoadingOverlay('show');
        var data = $('#editForm').serialize();
        $.ajax({
            url: "/person/editPerson",
            method: "POST",
            data: data,
            success: function (response) {
                console.log(response);
                if (response.success) {
                    window.alert('Cập nhật thành công');
                    window.location.reload();
                } else {
                    window.alert('Lỗi! Cập nhật thất bại');
                    window.alert(response.message);
                }
                $.LoadingOverlay('hide');
            }
        });
    }
</script>
<br />
<div class="bg-light" id="vue-app">
    <div v-if="detail.role_id==4" class="my-content" style="display:none">
        <div class="row mb-2 shadow" style="width:80%">
            <div class="col-lg-12">
                <div class="card d-flex">
                    <div class="card-body row d-flex justify-content-center">
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <img class="card-img-top rounded" style="max-width:200px" :src="detail.img" alt="Img" />
                        </div>
                        <div class="col-lg-5 col-sm-12 mb-2">
                            <p><h5 class="card-title">{{detail.ch_name}} {{detail.fname}} {{detail.name}}</h5></p>
                            <h6 class="card-subtitle mb-2 text-muted">{{detail.role}}</h6>
                            <p class="card-text">Ngày sinh: <b>{{detail.birth}}</b></p>
                            <p class="card-text">Địa chỉ: <b>{{detail.address}}</b></p>
                        </div>
                        <div class="col-lg-5 col-sm-12 mb-2">
                            <p class="card-text"></p>
                            <p class="card-text">Lớp: <b>{{detail.pclass}}</b></p>
                            <p class="card-text">Giáo Lý Viên: <b>{{detail.glv}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2 shadow" style="width:80%">
            <div class="col-lg-12 col-sm-12">
                <div class="card d-flex">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <h5 class="card-title">{{detail.father.ch_name}} {{detail.father.fname}} {{detail.father.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Phụ huynh</h6>
                                <p class="card-text">Số điện thoại: <b>{{detail.father.phone}}</b></p>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <h5 class="card-title">{{detail.mother.ch_name}} {{detail.mother.fname}} {{detail.mother.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Phụ huynh</h6>
                                <p class="card-text">
                                    Số điện thoại: <b>{{detail.mother.phone}}</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2 shadow" style="width:80%" v-if="editable == 'True'">
            <div class="col-lg-12 col-sm-12 mb-2">
                <div class="card d-lg-flex flex-lg-row-reverse d-flex flex-column-reverse">
                    <button type="button" class="btn btn-info m-1" data-toggle="modal" data-target="#edit-modal">Sửa thông tin</button>
                    <button type="button" class="btn btn-info m-1" data-toggle="modal" data-target="#edit-class-modal">Sửa lớp</button>
                    <form class="m-1" action="/person/setimg" method="post" enctype="multipart/form-data">
                        <input type="text" hidden name="id" :value="detail.id" />
                        <div class="input-group">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-success" style="text-align: start" onclick="updateAvatar()">Cập nhật</button>
                            </div>
                            <div class="custom-file">
                                <label for="file_input" class="custom-file-label btn"> ảnh đại diện</label>
                                <input id="file_input" required type="file" name="file" class="custom-file-input h-100">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg vue-app" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-5">
            <form id="editForm">
                <div class="form-group">
                    <input hidden type="text" class="form-control" :value=detail.id name="child-id">
                </div>
                <div class="form-group">
                    <label>Tên thánh</label>
                    <input type="text" class="form-control" :value=detail.ch_name name="child-ch-name" required pattern="\S+.*">
                </div>
                <div class="form-group">
                    <label>Họ và đệm </label>
                    <input type="text" class="form-control" :value=detail.fname name="child-fname" required pattern="\S+.*">
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    <input type="text" class="form-control" :value=detail.name name="child-name" required pattern="\S+.*">
                </div>
                <div class="form-group">
                    <label>Ngày tháng năm sinh</label>
                    <input type="date" class="form-control" :value=detail.birth name="child-birth">
                </div>
                <div class="form-group">
                    <label>Giới tính</label>
                    <select class="form-control" name="child-gender">
                        <option value="true">Nam</option>
                        <option value="false">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Lớp hiện tại</label>
                    <input type="text" class="form-control" :value=detail.pclass readonly>
                    @*<select id="classes" class="form-control" name="child-class"></select>*@
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" :value=detail.address name="child-address">
                </div>
                <br />
                <h4 class="font-weight-bold">Bố</h4>
                <div class="form-group">
                    <input hidden type="text" class="form-control" :value=detail.father.fa_id name="fa-id" readonly>
                    <label>Tên Thánh</label>
                    <input type="text" class="form-control" :value=detail.father.ch_name name="fa-ch-name" pattern="\S+.*">
                </div>
                <div class="form-group">
                    <label>Họ và đệm</label>
                    <input type="text" class="form-control" :value=detail.father.fname name="fa-fname" pattern="\S+.*">
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    <input type="text" class="form-control" :value=detail.father.name name="fa-name" pattern="\S+.*">
                </div>
                <div class="form-group">
                    <label>SDT</label>
                    <input type="text" class="form-control" :value=detail.father.phone name="fa-phone">
                </div>
                <br />
                <h4 class="font-weight-bold">Mẹ</h4>
                <div class="form-group">
                    <input hidden type="text" class="form-control" :value=detail.mother.mo_id name="mo-id" readonly>
                    <label>Tên Thánh</label>
                    <input type="text" class="form-control" :value=detail.mother.ch_name name="mo-ch-name" pattern="\S+.*">
                </div>
                <div class="form-group">
                    <label>Họ và đệm</label>
                    <input type="text" class="form-control" :value=detail.mother.fname name="mo-fname" pattern="\S+.*">
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    <input type="text" class="form-control" :value=detail.mother.name name="mo-name" pattern="\S+.*">
                </div>
                <div class="form-group">
                    <label>SDT</label>
                    <input type="text" class="form-control" :value=detail.mother.phone name="mo-phone">
                </div>
                <button type="button" onclick="editPerson()" class="btn btn-primary w-100">Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger w-100 mt-1">Hủy</button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg vue-app" id="edit-class-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-5">
            <form action="/person/EditClass" method="post">
                <input name="current_location" id="current_location" type="hidden" />
                <div class="form-group">
                    <input hidden type="text" class="form-control" :value=detail.id name="child-id">
                </div>
                <div class="form-group">
                    <h3>{{detail.ch_name}} {{detail.fname}} {{detail.name}}</h3>
                </div>
                <div class="form-group">
                    <label>Khối</label>
                    <select id="grades" onchange="getClasses()" class="form-control" name="child-grade"></select>
                </div>
                <div class="form-group">
                    <label>Lớp</label>
                    <select id="classes" class="form-control" name="child-class"></select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Lưu</button>
            </form>
        </div>
    </div>
</div>
