@{
    Layout = "~/Views/Shared/InternalLayout.cshtml";
}
<script>
    $(document).ready(function () {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var id = url.searchParams.get("id");
        console.log(id);
        $.ajax({
            url: "/person/getPersonDetail",
            data: { id: id },
            success: function (result) {
                console.log(result);
                new Vue({
                    el: '#vue_app',
                    data: {
                        detail: result,
                        id:id
                    }
                });
            }
        });

    });
</script>
<h1>Ảnh đại diện</h1>
<div id="vue_app">
    <img :src="detail.img" class="img-fluid w-25" />
    <h6>Cập nhật ảnh đại diện</h6>
    <form action="/person/setimg" method="post" enctype="multipart/form-data">
        <p>Chọn file ảnh</p>
        <input type="text" hidden name="id" :value="id" />
        <input type="file" name="file" placeholder="imges test" class="form-control-file" accept="image/*" />
        <button type="submit">Ok</button>
    </form>
</div>
