
@{
    ViewBag.Title = "listByClass";
    Layout = "~/Views/Shared/InternalLayout.cshtml";
}
<br />
<div id="vue_app" class="container">
    <div class="row bg-light rounded p-5">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            
        </div>

    </div>
    <div class="row bg-light rounded p-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên Thánh</th>
                    <th scope="col">Họ & Tên</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Lớp</th>
                    <th scope="col">Chi tiết</th>

                </tr>

            </thead>
            <tbody id="loading">
                <tr>
                    <td class="text-center" colspan="6"> <img src="~/img/loading.gif" /></td>
                </tr>
            </tbody>
            <tbody style="display:none" id="content">
                <tr v-for="p in persons" v-bind:key="p.id" v-bind:person="p">
                    <th scope="row">{{p.role}}</th>
                    <td>{{p.ch_name}}</td>
                    <td>{{p.fname}} {{p.name}}</td>
                    <td>{{p.birth}}</td>
                    <td>{{p.pclass}}</td>
                    <td><a :href="link+p.id" class="btn btn-sm btn-info">chi tiết</a></td>
                </tr>
                <tr style="display:none" id="notfound">
                    <td colspan="6" class="text-center">
                        <h3>Không có dữ liệu!</h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

