
@{
    ViewBag.Title = "detail";
    Layout = "~/Views/Shared/ExternalLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#loading').show();;
        var url_string = window.location.href;
        var url = new URL(url_string);
        var query = url.searchParams.get("query");
        var id = url.searchParams.get("id");
        console.log(query);
        console.log(id);
        $.ajax({
            url: "/person/getPersonDetail",
            data: { id:id },
            success: function (result) {
                console.log(result);               
                $('#loading').hide();
                $('.my-content').addClass("d-flex");
                $('.my-content').addClass("justify-content-center");
                $('.my-content').addClass("row");
                $('.my-content').show();
                new Vue({
                    el: '#vue_app',
                    data: {
                        detail: result,
                        glvlink: '/external/detail?query=' + query + '&id=' +result.glv_id
                    }
                });
            }
        });
        
    });
</script>
<br />
<div id="vue_app" class="container">
    <div class="d-flex justify-content-center bg-light rounded">
        <img id="loading" style="display:none" src="~/img/loading.gif" />
    </div>
    <div v-if="detail.role_id==4" class="my-content" style="display:none">
        <div class="row" style="width:80%">
            <div class="col-lg-12 col-sm-12 mb-2 d-flex flex-row-reverse">
                <button onclick="history.back()" class="btn btn-secondary"><i class="fas fa-long-arrow-alt-left mr-1"></i>Quay lại</button>
            </div>
        </div>
        <div class="row mb-2" style="width:80%">
            <div class="col-lg-12">
                <div class="card d-flex">
                    <div class="card-body row d-flex justify-content-center">
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <img class="card-img-top rounded" :src="detail.img" alt="Img" />
                        </div>
                        <div class="col-lg-5 col-sm-12 mb-2">
                            <h5 class="card-title">{{detail.ch_name}} {{detail.fname}} {{detail.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{detail.role}}</h6>
                            <p class="card-text">Ngày sinh: <b>{{detail.birth}}</b></p>
                            <p class="card-text">Địa chỉ: <b>{{detail.address}}</b></p>

                        </div>
                        <div class="col-lg-5 col-sm-12 mb-2">
                            <p class="card-text"></p>
                            <p class="card-text"></p>
                            <p class="card-text">Lớp: <b>{{detail.pclass}}</b></p>
                            <p class="card-text">Giáo Lý Viên: <a :href="glvlink"><b>{{detail.glv}}</b> </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2" style="width:80%">
            <div class="col-lg-12 col-sm-12">
                <div class="card d-flex">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <h5 class="card-title">{{detail.father.ch_name}} {{detail.father.fname}} {{detail.father.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Phụ huynh</h6>
                                <p class="card-text">Số điện thoại: <b>{{detail.father.phone}}</b></p>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <h5 class="card-title">{{detail.mother.ch_name}} {{detail.mother.fname}} {{detail.mother.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Phụ huynh</h6>
                                <p class="card-text">Số điện thoại: <b>{{detail.mother.phone}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2" style="width:80%">
            <div class="col-lg-12 col-sm-12 mb-2">
                <div class="card d-flex">
                    <div class="card-body">
                        Coming soon!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else class="my-content" style="display:none">
        <div class="row" style="width:80%">
            <div class="col-lg-12 col-sm-12 mb-2 d-flex flex-row-reverse">
                <button onclick="history.back()" class="btn btn-secondary"><i class="fas fa-long-arrow-alt-left mr-1"></i>Quay lại</button>
            </div>
        </div>
        <div class="row mb-2" style="width:80%">
            <div class="col-lg-12">
                <div class="card d-flex">
                    <div class="card-body row d-flex justify-content-center">
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <img class="card-img-top rounded" :src="detail.img" alt="Img" />
                        </div>
                        <div class="col-lg-5 col-sm-12 mb-2">
                            <h5 class="card-title">{{detail.ch_name}} {{detail.fname}} {{detail.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{detail.role}}</h6>                            
                            <p class="card-text">Số điện thoại: <b>{{detail.phone}}</b></p>
                        </div>
                        <div class="col-lg-5 col-sm-12 mb-2">
                            <p class="card-text"></p>
                            <p class="card-text"></p>
                            <p class="card-text">Lớp: <b>{{detail.pclass}}</b></p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>      
        <div class="row mb-2" style="width:80%">
            <div class="col-lg-12 col-sm-12 mb-2">
                <div class="card d-flex">
                    <div class="card-body">
                        Coming soon!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
