@{
    Layout = "~/Views/Shared/ExternalLayout.cshtml";
}
<!-- Masthead -->
<header class="masthead text-white text-center" style="background:url('../img/bg_ex_index.jpg');background-size:cover;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <h1 class="mb-5" style="text-shadow: 5px 5px 10px black;">Cổng thông tin<br /> thiếu nhi Giáo xứ Dĩ An</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form action="~/External/listingWithQuery">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" required name="query" class="form-control form-control-lg" placeholder="Tra cứu thông tin">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-danger">Tìm kiếm</button>
                        </div>
                    </div>
                    <br/>
                    <div>
                        <button type="button" class="btn btn-info btn btn-lg btn-block" data-toggle="modal" data-target="#add-modal">Đăng ký học</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<!-- section -->
@*<section class="features-icons bg-info">
    <div class="container">
        <div class="row bg-light rounded p-5">
            <div class="col-lg-6 col-sm-8 col-md-8 d-flex">
                <div class="justify-content-center align-self-center">
                    <h3 class="text-center">Đăng ký học Giáo Lý</h3>
                    <br />
                    <img class="img-fluid rounded" src="~/img/st-Jean-de-la-Salle.jpg" />
                    <p class="font-italic text-center">Thánh Gioan La San - Quan thầy ngành nhà giáo</p>
                    <p class="font-italic text-left">Gioan La San (tiếng Pháp: Jean-Baptiste de La Salle; 30 tháng 4 năm 1651 - 7 tháng 4 năm 1719) là một linh mục, nhà cải cách giáo dục, và là người sáng lập ra Dòng Sư Huynh Các Trường Công giáo hay còn gọi là Dòng La San. Ông được Giáo hội Công giáo Rôma tôn làm thánh và quan thầy của các giáo viên, giáo chức. Ông cũng được coi là người sáng lập ra mô hình trường trung học Công giáo đầu tiên.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-8 col-md-8">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="check-box">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button disabled type="submit" class="btn btn-primary">Đang phát triển...</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-modal"><i class="fa fa-plus mr-2"></i> Thêm thiếu nhi</button>
                </form>
                <form action="/external/uploadxlsasync" method="post" enctype="multipart/form-data">
                    <input name="id" value="1122" />
                    <input type="file" name="file" />
                    <button type="submit">upload</button>
                </form>
            </div>
        </div>
    </div>
</section>*@
<div class="modal fade bd-example-modal-lg" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-5">
            <form action="/person/AddPerson" method="post">
                <input hidden name="current_location" id="current_location" type="text" />
                <div class="form-group">
                    <label>Tên thánh</label>
                    <input type="text" class="form-control" placeholder="Tên Thánh" name="child-ch-name">
                </div>
                <div class="form-group">
                    <label>Họ và đệm</label>
                    <input type="text" class="form-control" placeholder="Nguyễn Văn" name="child-fname">
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    <input type="text" class="form-control" placeholder="A" name="child-name">
                </div>
                <div class="form-group">
                    <label>Ngày tháng năm sinh</label>
                    <input type="date" class="form-control" name="child-birth">
                </div>
                <div class="form-group">
                    <label>Giới tính</label>
                    <select class="form-control" name="child-gender">
                        <option value="true">Nam</option>
                        <option value="false">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <input hidden type="text" class="form-control" name="child-status" value="false">
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" placeholder="Địa chỉ" name="child-address">
                </div>
                <br/>
                <div class="form-check">
                    <input id="check-box" class="form-check-input mr-2" onclick="myShow()" type="checkbox" name="check-box" checked value="true">
                    <label class="form-check-label" for="defaultCheck1">
                        Đang học Giáo lý ở xứ khác
                    </label>
                </div>
                <br />
                <div id="to-show">
                    <div class="form-group">
                        <label>Giáo phận</label>
                        <input type="text" class="form-control" placeholder="Giáo phận" name="child-gp">
                    </div>
                    <div class="form-group">
                        <label>Giáo xứ</label>
                        <input type="text" class="form-control" placeholder="Giáo xứ" name="child-gx">
                    </div>
                    <div class="form-group">
                        <label>Khối hiện tại</label>
                        <select class="form-control" name="child-grade">
                            <option value="KT">Khai tâm</option>
                            <option value="RL">Rước lễ</option>
                            <option value="TS">Thêm sức</option>
                            <option value="SD">Sống đạo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Lớp hiện tại</label>
                        <select class="form-control" name="child-class">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phụ huynh vui lòng mang theo Sổ gia đình công giáo và giấy xác nhận học giáo lý (nếu có) vào 8h45 sáng Chúa Nhật.</label>
                </div>
                <br />
                <h4 class="font-weight-bold">Bố</h4>
                <div class="form-group">
                    <label>Tên Thánh</label>
                    <input type="text" class="form-control" placeholder="Tên Thánh" name="fa-ch-name">
                </div>
                <div class="form-group">
                    <label>Họ và đệm</label>
                    <input type="text" class="form-control" placeholder="Nguyễn Văn" name="fa-fname">
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    <input type="text" class="form-control" placeholder="A" name="fa-name">
                </div>
                <div class="form-group">
                    <label>SDT</label>
                    <input type="text" class="form-control" placeholder="Số điện thoại" name="fa-phone">
                </div>
                <br />
                <h4 class="font-weight-bold">Mẹ</h4>
                <div class="form-group">
                    <label>Tên Thánh</label>
                    <input type="text" class="form-control" placeholder="Tên Thánh" name="mo-ch-name">
                </div>
                <div class="form-group">
                    <label>Họ và đệm</label>
                    <input type="text" class="form-control" placeholder="Nguyễn Văn" name="mo-fname">
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    <input type="text" class="form-control" placeholder="A" name="mo-name">
                </div>
                <div class="form-group">
                    <label>SDT</label>
                    <input type="text" class="form-control" placeholder="Số điện thoại" name="mo-phone">
                </div>
                <button type="submit" class="btn btn-info w-100">Xác nhận</button>
                <button type="submit" data-dismiss="modal" class="btn btn-danger w-100 mt-2">Hủy</button>
            </form>
        </div>
    </div>
</div>
<script>
    function myShow() {
        // Get the checkbox
        var checkBox = document.getElementById("check-box");
        // Get the output text
        var toShow= document.getElementById("to-show");
        // If the checkbox is checked, display the output text
        if (toShow.style.display == "none") {
            toShow.style.display = "block";
        } else {
            toShow.style.display = "none";
        }      
    }
</script>